{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Joy Cart!</h1>
      <p>Myself Ayush Gupta. I love everything which is related to programming, I have interests in Machine Learning,
        Data Science and love to have a discussion on Data Structures and Algorithms. I am currently puruing B.Tech in
        Electircal Engineering from IIT BHU. Created this E Commerce website for showcasing the products and added features like cart etc. I have to add more features to it like tracker, payment options(can involve a bit of Cryptography here), etc.</p>
      <p><a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/ayush-gupta-9682191a4/" role="button">LinkedIn</a></p>
      <p><a class="btn btn-primary btn-lg" href="https://github.com/ayushiitbhu2800" role="button">Github</a></p>
      <p><a class="btn btn-primary btn-lg" href="https://www.codechef.com/users/aayyuusshh2200" role="button">Codechef</a></p>
      <p><a class="btn btn-primary btn-lg" href="https://codeforces.com/profile/stupid_coder_2001" role="button">Codeforces</a></p>
    </div>
  </div>

</main>





{% endblock %}